# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import json
from pprint import pprint

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

597

In [ ]:
cities

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [32]:
res = []
for city in cities:
    url = "http://api.openweathermap.org/data/2.5/weather?"
    query_url = url + "appid=" + weather_api_key + "&q=" + city
    weather_response = requests.get(query_url).json()
    res.append(weather_response)
    #print(weather_response)

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [37]:
print(res[0]['name'])

Geraldton

In [35]:
w_df = pd.DataFrame(res)
w_df

,coord,weather,base,main,visibility,wind,clouds,dt,sys,timezone,id,name,cod,rain,message
0,"{'lon': 114.6, 'lat': -28.77}","[{'id': 802, 'main': 'Clouds', 'description': ...",stations,"{'temp': 281.15, 'feels_like': 277.22, 'temp_m...",10000.0,"{'speed': 4.6, 'deg': 130}",{'all': 26},1.596328e+09,"{'type': 1, 'id': 9522, 'country': 'AU', 'sunr...",28800.0,2070998.0,Geraldton,200,NaN,NaN
1,"{'lon': -139.03, 'lat': -9.8}","[{'id': 500, 'main': 'Rain', 'description': 'l...",stations,"{'temp': 299.64, 'feels_like': 298.68, 'temp_m...",10000.0,"{'speed': 7.53, 'deg': 92}",{'all': 97},1.596328e+09,"{'country': 'PF', 'sunrise': 1596295891, 'suns...",-34200.0,4020109.0,Atuona,200,{'1h': 0.11},NaN
2,"{'lon': 100.34, 'lat': 5.41}","[{'id': 500, 'main': 'Rain', 'description': 'l...",stations,"{'temp': 297.63, 'feels_like': 301.66, 'temp_m...",6000.0,"{'speed': 2.1, 'deg': 70}",{'all': 40},1.596328e+09,"{'type': 1, 'id': 9429, 'country': 'MY', 'sunr...",28800.0,1735106.0,George Town,200,NaN,NaN
3,"{'lon': -73.97, 'lat': 42.6}","[{'id': 803, 'main': 'Clouds', 'description': ...",stations,"{'temp': 298.24, 'feels_like': 299.56, 'temp_m...",10000.0,"{'speed': 0.49, 'deg': 183}",{'all': 76},1.596328e+09,"{'type': 3, 'id': 19530, 'country': 'US', 'sun...",-14400.0,5106841.0,Albany,200,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,404,NaN,city not found
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
592,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,404,NaN,city not found
593,"{'lon': 16.93, 'lat': -12.38}","[{'id': 800, 'main': 'Clear', 'description': '...",stations,"{'temp': 286.03, 'feels_like': 282.41, 'temp_m...",10000.0,"{'speed': 2.95, 'deg': 118}",{'all': 0},1.596328e+09,"{'country': 'AO', 'sunrise': 1596345055, 'suns...",3600.0,3348078.0,Kuito,200,NaN,NaN
594,"{'lon': -0.13, 'lat': 51.51}","[{'id': 803, 'main': 'Clouds', 'description': ...",stations,"{'temp': 290.06, 'feels_like': 285.56, 'temp_m...",10000.0,"{'speed': 5.7, 'deg': 300}",{'all': 54},1.596328e+09,"{'type': 1, 'id': 1414, 'country': 'GB', 'sunr...",3600.0,2643743.0,London,200,NaN,NaN
595,"{'lon': 128.65, 'lat': 47.72}","[{'id': 804, 'main': 'Clouds', 'description': ...",stations,"{'temp': 298.31, 'feels_like': 301.92, 'temp_m...",10000.0,"{'speed': 1.9, 'deg': 209}",{'all': 89},1.596328e+09,"{'country': 'CN', 'sunrise': 1596312220, 'suns...",28800.0,2033413.0,Cuiluan,200,NaN,NaN
596,"{'lon': 148.23, 'lat': -20.02}","[{'id': 804, 'main': 'Clouds', 'description': ...",stations,"{'temp': 294.94, 'feels_like': 289.93, 'temp_m...",10000.0,"{'speed': 9.3, 'deg': 120}",{'all': 90},1.596328e+09,"{'type': 1, 'id': 9503, 'country': 'AU', 'sunr...",36000.0,2174444.0,Bowen,200,NaN,NaN

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [ ]:
#  Get the indices of cities that have humidity over 100%.

In [ ]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

In [ ]:
# Extract relevant fields from the data frame


# Export the City_Data into a csv

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

In [ ]:
# OPTIONAL: Create a function to create Linear Regression plots

In [ ]:
# Create Northern and Southern Hemisphere DataFrames

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression