# WeatherPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
from scipy.stats import linregress
import json
from pprint import pprint

# Import API key
from api_keys import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

# Output File (CSV)
output_data_file = "output_data/cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

## Generate Cities List

In [2]:
# List for holding lat_lngs and cities
lat_lngs = []
cities = []

# Create a set of random lat and lng combinations
lats = np.random.uniform(lat_range[0], lat_range[1], size=1500)
lngs = np.random.uniform(lng_range[0], lng_range[1], size=1500)
lat_lngs = zip(lats, lngs)

# Identify nearest city for each lat, lng combination
for lat_lng in lat_lngs:
    city = citipy.nearest_city(lat_lng[0], lat_lng[1]).city_name
    
    # If the city is unique, then add it to a our cities list
    if city not in cities:
        cities.append(city)

# Print the city count to confirm sufficient count
len(cities)

597

In [ ]:
cities

### Perform API Calls
* Perform a weather check on each city using a series of successive API calls.
* Include a print log of each city as it'sbeing processed (with the city number and city name).

In [32]:
res = []
for city in cities:
    url = "http://api.openweathermap.org/data/2.5/weather?"
    query_url = url + "appid=" + weather_api_key + "&q=" + city
    weather_response = requests.get(query_url).json()
    res.append(weather_response)
    #print(weather_response)

### Convert Raw Data to DataFrame
* Export the city data into a .csv.
* Display the DataFrame

In [63]:
w_df = pd.DataFrame(res)
w_df.head()

,coord,weather,base,main,visibility,wind,clouds,dt,sys,timezone,id,name,cod,rain,message
0,"{'lon': 114.6, 'lat': -28.77}","[{'id': 802, 'main': 'Clouds', 'description': ...",stations,"{'temp': 281.15, 'feels_like': 277.22, 'temp_m...",10000.0,"{'speed': 4.6, 'deg': 130}",{'all': 26},1.596328e+09,"{'type': 1, 'id': 9522, 'country': 'AU', 'sunr...",28800.0,2070998.0,Geraldton,200,NaN,NaN
1,"{'lon': -139.03, 'lat': -9.8}","[{'id': 500, 'main': 'Rain', 'description': 'l...",stations,"{'temp': 299.64, 'feels_like': 298.68, 'temp_m...",10000.0,"{'speed': 7.53, 'deg': 92}",{'all': 97},1.596328e+09,"{'country': 'PF', 'sunrise': 1596295891, 'suns...",-34200.0,4020109.0,Atuona,200,{'1h': 0.11},NaN
2,"{'lon': 100.34, 'lat': 5.41}","[{'id': 500, 'main': 'Rain', 'description': 'l...",stations,"{'temp': 297.63, 'feels_like': 301.66, 'temp_m...",6000.0,"{'speed': 2.1, 'deg': 70}",{'all': 40},1.596328e+09,"{'type': 1, 'id': 9429, 'country': 'MY', 'sunr...",28800.0,1735106.0,George Town,200,NaN,NaN
3,"{'lon': -73.97, 'lat': 42.6}","[{'id': 803, 'main': 'Clouds', 'description': ...",stations,"{'temp': 298.24, 'feels_like': 299.56, 'temp_m...",10000.0,"{'speed': 0.49, 'deg': 183}",{'all': 76},1.596328e+09,"{'type': 3, 'id': 19530, 'country': 'US', 'sun...",-14400.0,5106841.0,Albany,200,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,404,NaN,city not found

In [64]:
w_df = pd.concat([w_df.drop(['coord'], axis=1), w_df['coord'].apply(pd.Series)], axis=1)

In [65]:
w_df = pd.concat([w_df.drop(['main'], axis=1), w_df['main'].apply(pd.Series)], axis=1)

In [66]:
w_df = pd.concat([w_df.drop(['clouds'], axis=1), w_df['clouds'].apply(pd.Series)], axis=1)

In [67]:
w_df = pd.concat([w_df.drop(['wind'], axis=1), w_df['wind'].apply(pd.Series)], axis=1)

In [68]:
w_df = pd.concat([w_df.drop(['sys'], axis=1), w_df['sys'].apply(pd.Series)], axis=1)

In [70]:
w_df = w_df[["name","lat","lon","temp_max","humidity","all","speed","country","dt"]]
w_df.head()

,name,lat,lon,temp_max,humidity,all,speed,country,dt
0,Geraldton,-28.77,114.60,281.15,93.0,26.0,4.60,AU,1.596328e+09
1,Atuona,-9.80,-139.03,299.64,73.0,97.0,7.53,PF,1.596328e+09
2,George Town,5.41,100.34,298.15,94.0,40.0,2.10,MY,1.596328e+09
3,Albany,42.60,-73.97,300.93,54.0,76.0,0.49,US,1.596328e+09
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
w_df = w_df.rename(columns={"name":"City","lat":"Lat","lon":"Lng","temp_max":"Max Temp","humidity":"Humidity","all":"Cloudiness","speed":"Wind Speed","country":"Country","dt":"Date"})

In [74]:
w_df = w_df.dropna(how='all')
w_df

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Geraldton,-28.77,114.60,281.15,93.0,26.0,4.60,AU,1.596328e+09
1,Atuona,-9.80,-139.03,299.64,73.0,97.0,7.53,PF,1.596328e+09
2,George Town,5.41,100.34,298.15,94.0,40.0,2.10,MY,1.596328e+09
3,Albany,42.60,-73.97,300.93,54.0,76.0,0.49,US,1.596328e+09
5,Puerto Ayora,-0.74,-90.35,293.71,92.0,83.0,0.89,EC,1.596328e+09
...,...,...,...,...,...,...,...,...,...
591,Takoradze,4.88,-1.76,296.35,86.0,0.0,3.64,GH,1.596328e+09
593,Kuito,-12.38,16.93,286.03,50.0,0.0,2.95,AO,1.596328e+09
594,London,51.51,-0.13,292.15,55.0,54.0,5.70,GB,1.596328e+09
595,Cuiluan,47.72,128.65,298.31,85.0,89.0,1.90,CN,1.596328e+09
596,Bowen,-20.02,148.23,295.15,64.0,90.0,9.30,AU,1.596328e+09

In [69]:
w_df.to_csv('results.csv')

## Inspect the data and remove the cities where the humidity > 100%.
----
Skip this step if there are no cities that have humidity > 100%.

In [ ]:
#  Get the indices of cities that have humidity over 100%.

In [ ]:
# Make a new DataFrame equal to the city data to drop all humidity outliers by index.
# Passing "inplace=False" will make a copy of the city_data DataFrame, which we call "clean_city_data".

In [ ]:
# Extract relevant fields from the data frame


# Export the City_Data into a csv

## Plotting the Data
* Use proper labeling of the plots using plot titles (including date of analysis) and axes labels.
* Save the plotted figures as .pngs.

## Latitude vs. Temperature Plot

## Latitude vs. Humidity Plot

## Latitude vs. Cloudiness Plot

## Latitude vs. Wind Speed Plot

## Linear Regression

In [ ]:
# OPTIONAL: Create a function to create Linear Regression plots

In [ ]:
# Create Northern and Southern Hemisphere DataFrames

####  Northern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Southern Hemisphere - Max Temp vs. Latitude Linear Regression

####  Northern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Humidity (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Southern Hemisphere - Cloudiness (%) vs. Latitude Linear Regression

####  Northern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression

####  Southern Hemisphere - Wind Speed (mph) vs. Latitude Linear Regression